.card {
    display: grid;
    position: relative;
    box-shadow: 4px 4px 13px 1px black;
    top: 100px;
    width: 650px;
    height: 300px;
    margin: 10px 30px;
    border: black 2px solid;
    border-radius: 25px;
}